{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"htmlWhitespaceSensitivity": "ignore",
	"bracketSameLine": false,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte",
				"svelteAllowShorthand": true
			}
		}
	]
}
